
.background {
    overflow-x: hidden;
    width: 100vw;
  }

  .texto {
  position: absolute;
  top: 25%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  text-align: center;
  width: 80%; 
}
